*{
    margin: 0 ; 
    padding :0 ;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing : border-box ;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: white;
   
}
#header{
    width : 100%  ;
    height:100vh ; 
    background-image: url(images/v748-toon-131.jpg);
    background-size: cover;
    background-position: center;


    
    
}
.container{
    padding: 10px ;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 50%;
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
   
}
nav ul li a{
   
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width :0%; 
    height: 2px ;
    background: #E8B96C;
    position: absolute ;
    left : 0 ; 
    bottom :-6px; 
    transition: 0.5s width;

}
nav ul li a:hover::after {
  width :100% ; 
   
}

/*--about row --*/
.introRow  {
    margin-top: 10%;
    font-size: 30px ;
    margin-left: 10%;
    
}
.introRow h1{
    margin-top: 20px;
    font-size: 60px ;
     
}
.introRow span{
    color: #E8B96C;
}



#about{
    padding: 80px 0;
    color: white; 
   
}
.row{
    display: flex ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.col-1 img{
    width: 100% ;
}
.col-1{
    flex-basis: 35%;
}
.col-1 {
    width: 50%;
    text-align: center;
    border-radius: 30px;
}
.col-2 {
flex-basis: 60%; 

}
.subtitle{
    color: #fff;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 60px;
    margin-left: 0px;
   

}
.tab-titles{
    
    display: flex;
    margin : 20px 0px 40px  ;
}
.tab-links{
    margin-right: 60px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content :'';
    width: 0%;
    height: 3px ;
    background: #E8B96C;
    left:0 ;
    position: absolute;
    bottom: -8px;
    transition: 0.5s ;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
   color:#E8B96C ;
   margin-bottom: 30px ;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    padding: 0px;
    margin: 0;
}

/*--skills--*/
#skills-set{
    padding: 30px 0px;

}
#skills-set h1{
    margin-left: 40px;
    padding: 30px 0px;

}


.skills-list{
    display: grid ;
    grid-template-columns: repeat(auto-fit , minmax(240px , 1fr));
    grid-gap: 40px ;
    margin-top: 10px ;
    margin-left: 40px;
    margin-right: 40px;
}

.skills-list div h2 {
    color:#E8B96C;
    margin-bottom: 20px ;
    font-size: 30px;
    font-weight: 500;
}
.skills-list div{
    padding: 40px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    transition:1s;

}
.skills-list div a{
    text-decoration: none;
    color:rgb(232, 185, 109);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.skills-list div:hover{
    background:rgb(232, 185, 109,0.2);
  transform: translateY(-30px);
}
/*--projects--*/
#projects-set{
    padding: 30px 0px;

}
#projects-set h1{
    margin-left: 40px;
    padding: 30px 0px;

}


.projects-list{
    display: grid ;
    grid-template-columns: repeat(auto-fit , minmax(240px , 1fr));
    grid-gap: 40px ;
    margin-top: 10px ;
    margin-left: 40px;
    margin-right: 40px;
}

.projects-list div h2 {
    color:#E8B96C;
    margin-bottom: 20px ;
    font-size: 30px;
    font-weight: 500;
}
.projects-list div{

    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    transition: 1s;

}
.projects img {
    width: 100%;
    transition: transform 1s;

}
.projects {
    position: relative;
    display: block;
    width: 100%;

}
.projects-list div a{
    text-decoration: none;
    color:#E8B96C;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.layer{
    width: 100%;
    height: 0; 
    padding: 0 40px;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    background:linear-gradient(rgba(0,0,0,0.6) ,#E8B96C ) ;
    transition: height 1s ,transform 1s ;
}
.projects:hover img{
    transform:scale(1.1) ;
}
.projects:hover .layer{
    transform:scale(1.1) ;
    height: 100%;
}
.layer h3{
    margin-bottom : 20px; 
    font-weight: 500 ;
}
/*--Contact--*/
#contact-me{
    margin-top: 100px;
}
#contact-me h1 {
    margin-left: 0;
    padding: 0;}
.contact-left{
 flex-basis: 45%;
 margin-left: 30px;
 align-items: center;
}
.contact-right{
    flex-basis: 50%;

 align-items: center;
}
.contact-left p{
    margin-top: 20px;

}
.contact-left p i{
    color: #E8B96C;
    margin-right: 15px;
    font-size: 25px;
}
.soc-icons{
    margin-top: 20px;
    border-radius: 5px;
}
.soc-icons a{
    color: #ababab;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    transition: 0.5s;
}
.soc-icons a:hover{
    color: #E8B96C;
    transform: translateY(-5px);
}
.cv{
    background-color: #E8B96C;
    color: #fff;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    padding:10px;
    cursor: pointer;
    margin-top: 20px ;
    margin-left: 0px;
    border-radius: 5px;
    margin-bottom: 60px;
}
form input , form textarea{
    margin:0 ;
    width: 100%;
    border-radius: 5px;
    border: 0;
    outline: none;
    background: rgb(232, 184, 107 ,0.1);
    font-size:18px;
    padding: 15px;
    margin: 15px;
    color: #fff;
}
.btn2{
    background-color: #E8B96C;
    color: #fff;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    padding:10px;
    cursor: pointer;
    margin-top: 20px ;
    margin-left: 15px;
    border-radius: 5px;
    margin-bottom: 60px;

}
/*-----css for small screens---*/
@media only screen and (max-width :600px) {
    
    
}